{
  "presets":
  [
    [
      "@babel/preset-env",
      {
        "targets":
        {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel",
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "~",
        "rootPathSuffix": ""
      }, {
        "rootPathPrefix": "&",
        "rootPathSuffix": "src/"
      }]
    }]
  ]
}